extends settings/layout

prepend html
  - const lang = "id";

prepend head
  - const pageTitle = "Gipertolife Beli Gipertolife Tidak mahal, harga, ulasan, pesan Gipertolife Sekarang!";
  - const themeColor = "#ffffff";

append head

append content
  include components/header
  include components/promo
  include components/danger
  include components/illness
  include components/course
  include components/composition
  include components/research
  include components/expert
  include components/reviews
  include components/use
  include components/board
  include components/order
  include components/promo
  include components/footer
  include components/banner
  include components/popup
  include components/svg-sprites.html
  //- include components/form-popup
append scripts
  //- script(defer src="https://179523.selcdn.ru/public/delivery-banner/banner.js")
  script(src="https://179523.selcdn.ru/public/layout-images/eu-footer2.js")
