extends settings/layout

prepend html
  - const lang = "id";

prepend head
  - const pageTitle = "Gipertolife Beli Gipertolife Tidak mahal, harga, ulasan, pesan Gipertolife Sekarang!";
  - const themeColor = "#ffffff";

append head

append content
  include components/header
  include components/promo
  include components/danger
  include components/illness
  include components/course
  include components/composition
<<<<<<< HEAD
  include components/expert
=======
  include components/reviews
>>>>>>> 1585c370b584e3d96e7d6172da89a1b652d5d447
  include components/board
  include components/order
  include components/svg-sprites.html
  include components/footer
append scripts
  //- script(defer src="https://179523.selcdn.ru/public/delivery-banner/banner.js")
  script(src="https://179523.selcdn.ru/public/layout-images/eu-footer2.js")
