.banner
	.container
		.banner__content
			.banner__pack
					img(src="img/prod.png", alt="image")
			.banner__title 
				span.banner__title--small.text-bold Только сегодня 
					span.date-0.text-nowrap(data-format="dd month")
			
			.banner__timer
				include timer
			button.banner__btn.btn.ever-popup-btn Заказать