.board.bg.block
	.container
		.board__content
			ul.board__list
				li.board-list__item.board-list__item1 <b>Для ускорения эффекта Gipertolife</b> 
					|  ограничьте потребление соленой, сладкой и жирной пищи
				li.board-list__item.board-list__item2 <b>Для максимального эффекта Gipertolife</b> 
					|  откажитесь от вредных привычек
				li.board-list__item.board-list__item3 <b>Для предупреждения гипертонии старайтесь</b>  ежедневно выполнять физические нагрузки минимум 30 минут
			.board__info
				.board-info__name Пак Чо, 
					span.board-info__name--prof эксперт по гипертонии