section.composition.block
  .container
    h2.composition__title.title Секрет эффективности 
      span.accent
        |Gipertolife 
      |—&nbsp;его&nbsp;природный состав
    ul.composition-list
      li.composition-item
        .composition-component
          picture
            source(type="image/webp" srcset="img/composition1.webp")
            img.composition-component__img(src="img/composition1.png" alt="course")
          h3.composition-component__title.text-bold Маточное 
            br.composition-component__title-br
            |молочко
          p.composition-component__desc Помогает расширить кровеносные сосуды, корректировать артериальное&nbsp;давление
        .composition-component
          picture
            source(type="image/webp" srcset="img/composition2.webp")
            img.composition-component__img(src="img/composition2.png" alt="course")
          h3.composition-component__title.text-bold Экстракт корня гинкго&nbsp;билоба
          p.composition-component__desc Обладает свойством уменьшать частоту сердечных сокращений, повышать диурез, улучшать работу&nbsp;мозга
      li.composition-item
        picture
          source(type="image/webp"  media="(min-width: 480px)" srcset="img/prod.webp")
          source(type="image/webp" srcset="img/prod__mob.webp")
          img.composition__prod(src="img/prod.png" alt="product")
        .composition__prod-awards
          picture
            source(type="image/webp" media="(max-width: 479px)" srcset="img/award1__mob.webp")
            source(type="image/webp" srcset="img/award1.webp")
            img.award(src="img/award1.png" alt="award")
          picture
            source(type="image/webp" media="(max-width: 479px)" srcset="img/award2__mob.webp")
            source(type="image/webp" srcset="img/award2.webp")
            img.award(src="img/award2.png" alt="award")
          picture
            source(type="image/webp" media="(max-width: 479px)" srcset="img/award3__mob.webp")
            source(type="image/webp" srcset="img/award3.webp")
            img.award(src="img/award3.png" alt="award")
      li.composition-item
        .composition-component
          picture
            source(type="image/webp" srcset="img/composition3.webp")
            img.composition-component__img(src="img/composition3.png" alt="course")
          h3.composition-component__title.text-bold Экстракт цветов зверобоя обыкновенного
          p.composition-component__desc Способствует борьбе с бессонницей, улучшению тонуса сосудов
        .composition-component
          picture
            source(type="image/webp" srcset="img/composition4.webp")
            img.composition-component__img(src="img/composition4.png" alt="course")
          h3.composition-component__title.text-bold Экстракт цветов ивы&nbsp;белой
          p.composition-component__desc Помогает снизить вес, избавиться от головных болей и мигреней, предотвратить образование тромбов

