section.course.block.bg
  .container
    h2.course__title.title За 1 курс 
      span.accent 
        |Gipertolife 
      | вы получите возможность
    ul.course-list
      li.course__item
        p.course__item-desc.text-bold Скорректировать давление
        picture
          source(type="image/webp" srcset="img/course1.webp")
          img.course__item-img(src="img/course1.jpg" alt="course")
      li.course__item
        p.course__item-desc.text-bold Избавиться от потливости и&nbsp;отеков
        picture
          source(type="image/webp" srcset="img/course2.webp")
          img.course__item-img(src="img/course2.jpg" alt="course")
      li.course__item
        p.course__item-desc.text-bold Улучшить зрение и&nbsp;работу 
          br.course__item-desc--br
          |внутренних органов
        picture
          source(type="image/webp" srcset="img/course3.webp")
          img.course__item-img(src="img/course3.jpg" alt="course")
      li.course__item
        p.course__item-desc.text-bold Забыть о пачках средств в&nbsp;день
        picture
          source(type="image/webp" srcset="img/course4.webp")
          img.course__item-img(src="img/course4.jpg" alt="course")
      li.course__item
        p.course__item-desc.text-bold Устранить чувство усталости и&nbsp;недосыпания
        picture
          source(type="image/webp" srcset="img/course5.webp")
          img.course__item-img(src="img/course5.jpg" alt="course")
    span.course-info.text-bold Помогите организму устранить признаки&nbsp;гипертонии