section.danger.block
	.container
		.danger__content
			.danger__symptoms
				.danger__symptoms--border
				h2.title.danger__title Вам это знакамо?
				ul.danger-symptoms__list
					li.danger-symptoms__item 
						picture
							source(srcset="img/symptom-1.webp", type="image/webp")
							img.danger-symptoms__img(src="img/symptom-1.png", alt="symptom")
						h4.danger-symptoms__title Головные <br> боли
					li.danger-symptoms__item 
						picture
							source(srcset="img/symptom-2.webp", type="image/webp")
							img.danger-symptoms__img(src="img/symptom-2.png", alt="symptom")
						h4.danger-symptoms__title Метео-зависимость
					li.danger-symptoms__item 
						picture
							source(srcset="img/symptom-3.webp", type="image/webp")
							img.danger-symptoms__img(src="img/symptom-3.png", alt="symptom")
						h4.danger-symptoms__title Боли в области сердца
					li.danger-symptoms__item 
						picture
							source(srcset="img/symptom-4.webp", type="image/webp")
							img.danger-symptoms__img(src="img/symptom-4.png", alt="symptom")
						h4.danger-symptoms__title Нарушение зрения
			.danger__info
				p.danger-info__text.danger-info__text--first Совпали минимум 2 признака? 
					span.danger-info__text--accent ВЫ МОЖЕТЕ БЫТЬ В&nbsp;ОПАСНОСТИ!
				p.danger-info__text.danger-info__text--second Только
				h3.danger-info__big.accent 1 из 6 человек
				p.danger-info__text знает о том, что болен. Чаще всего гипертония протекает практически 
					span.accent бессимптомно.