section.illness.block
	.container
		h2.title.illness__title Чем опасна гипертония без терапии
		.illness__content
			.illness__box.active
				h3.illness-box__title 
					<svg class="icon illness-box__title--icon illness-box__title--icon1">
						<use xlink:href="#illness-icon1"></use>
					</svg> 
					| Инфаркт
				.illness__item
					.illness-item__look
						.illness__item--border
						.illness-item__title 
							<svg class="icon illness-item__title--icon">
								<use xlink:href="#illness-icon1"></use>
							</svg> 
							| Инфаркт
						picture
							source(srcset="img/illness-img1.webp", type="image/webp")
							img.illness-item__img(src="img/illness-img1.jpg", alt="image")
						p.illness-item__info Сердце может выйти из&nbsp;строя
			.illness__box
				h3.illness-box__title 
					<svg class="icon illness-box__title--icon illness-box__title--icon2">
						<use xlink:href="#illness-icon2"></use>
					</svg> 
					| Инсульт
				.illness__item
					.illness-item__look
						.illness__item--border
						.illness-item__title 
							<svg class="icon illness-item__title--icon">
								<use xlink:href="#illness-icon2"></use>
							</svg> 
							| Инсульт
						picture
							source(srcset="img/illness-img2.webp", type="image/webp")
							img.illness-item__img(src="img/illness-img2.jpg", alt="image")
						p.illness-item__info Мозг может потерять возможность нормально функционировать. Увеличивается риск инсульта
			.illness__box
				h3.illness-box__title 
					<svg class="icon illness-box__title--icon illness-box__title--icon3">
						<use xlink:href="#illness-icon3"></use>
					</svg> 
					| Почечная недостаточность
				.illness__item
					.illness-item__look
						.illness__item--border
						.illness-item__title 
							<svg class="icon illness-item__title--icon ">
								<use xlink:href="#illness-icon3"></use>
							</svg> 
							| Почечная недостаточность
						picture
							source(srcset="img/illness-img3.webp", type="image/webp")
							img.illness-item__img(src="img/illness-img3.jpg", alt="image")
						p.illness-item__info Кровеносные сосуды в почках могут негативно влиять на работу органа в целом
			.illness__box
				h3.illness-box__title 
					<svg class="icon illness-box__title--icon illness-box__title--icon4">
						<use xlink:href="#illness-icon4"></use>
					</svg> 
					| Потеря зрения
				.illness__item
					.illness-item__look
						.illness__item--border
						.illness-item__title 
							<svg class="icon illness-item__title--icon ">
								<use xlink:href="#illness-icon4"></use>
							</svg> 
							| Потеря зрения
						picture
							source(srcset="img/illness-img4.webp", type="image/webp")
							img.illness-item__img(src="img/illness-img4.jpg", alt="image")
						p.illness-item__info Частичная или полная 
			.illness__box
				h3.illness-box__title 
					<svg class="icon illness-box__title--icon illness-box__title--icon5">
						<use xlink:href="#illness-icon5"></use>
					</svg> 
					| Импотенция
				.illness__item 
					.illness-item__look
						.illness__item--border
						.illness-item__title 
							<svg class="icon illness-item__title--icon ">
								<use xlink:href="#illness-icon5"></use>
							</svg> 
							| Импотенция
						picture
							source(srcset="img/illness-img5.webp", type="image/webp")
							img.illness-item__img(src="img/illness-img5.jpg", alt="image")
						p.illness-item__info Плохой приток крови сказывается на мужско половом органе 
			.illness__box
				h3.illness-box__title 
					<svg class="icon illness-box__title--icon illness-box__title--icon6">
						<use xlink:href="#illness-icon6"></use>
					</svg> 
					| Гипертонический криз
				.illness__item
					.illness-item__look
						.illness__item--border
						.illness-item__title 
							<svg class="icon illness-item__title--icon">
								<use xlink:href="#illness-icon6"></use>
							</svg> 
							| Гипертонический криз
						picture
							source(srcset="img/illness-img6.webp", type="image/webp")
							img.illness-item__img(src="img/illness-img6.jpg", alt="image")
						p.illness-item__info Может возникнуть в любой момент. Проявляется высоким давлением, тошнотой, головной болью
		p.illness__attention Эти осложнения можно предотвратить, корректируя кровяное давление с&nbsp;Gipertolife 
		button.btn.illness__btn.ever-popup-btn Заказать со скидкой
