.ever-popup-build
	.my-popup(id="cloneThis")
		.my-popup__wrap
			.my-popup__left
				.my-popup__pack.pack
					img(src="img/promo-prod.png" alt="product")
			.my-popup__right
				.popup-form-wrap
					include form
