section.research.block.bg
	.container
		h2.title.research__title Эффективность 
			span.accent Gipertolife
			|  подтвердили 1359 покупателей
		h3.research__subtitle Дистрибьютор провел опрос среди людей на разных стадиях гипертонии, которые принимали средство не менее 4 недель
		.research__content
			.research__box
				.research__stat
					.research__pie.research__pie1  0%
					.research-stat__number 95
						span.research-stat__number--percent %
				p.research__text Артериальное давление стабилизиро-валось
			.research__box
				.research__stat
					.research__pie.research__pie2  0%
					.research-stat__number 89
						span.research-stat__number--percent %
				p.research__text Избавились от головных болей, отеков и проблем со зрением
			.research__box
				.research__stat
					.research__pie.research__pie3  0%
					.research-stat__number 92
						span.research-stat__number--percent %
				p.research__text Стали высыпаться, появилось больше энергии
		.research__list
			.research__item
				p.research-item__text Мягко корректирует давление в течение 6 часов после приема
				p.research-item__info.research-item__info--1 в 99% случаев
			.research__item
				p.research-item__text Улучшает тонус и эластичность кровеносных сосудов за 1 курс
				p.research-item__info.research-item__info--2 в 94% случаев
			.research__item
				p.research-item__text Эффективен на любой стадии гипертонической болезни сердца
				p.research-item__info.research-item__info--3 в 92% случаев