section.reviews.block(id='reviews').bg
	.container
		h2.title.reviews__title Отзывы людей, которым уже помог Cardiosoft
		.reviews-content
			.reviews-panel
				.star-box
					.reviews-headStar(style={'width': '89px'})
					.reviews-amount 130 отзывов
				button.btn.reviews-btn Оставить свой отзыв
			.feedback
				.feedback-form
					.feedback-top
						.feedback-name
							input.feedback-name-input.input__val-1(
									type='text'
									name='name'
									required
									placeholder='Ваше имя'
								)
						//- .feedback-age
						//- 	input.feedback-name-input.input__val-2(
						//- 			type='text'
						//- 			name='age'
						//- 			required
						//- 			placeholder='Ваш возраст'
						//- 		)
						//- .feedback-city
						//- 	input.feedback-name-input.input__val-3(
						//- 			type='text'
						//- 			name='city'
						//- 			required
						//- 			placeholder='Ваш город'
						//- 		)
						.feedback-assessment Ваша оценка
						.feedback-rating
							img.star1(src='img/star.png')
							img.star2(src='img/star.png')
							img.star3(src='img/star.png')
							img.star4(src='img/star.png')
							img.star5(src='img/star.png')
					.feedback-text
						textarea.feedback-text-input.input__val-4(name="" placeholder='Ваш отзыв')
					.feedback-btn.btn.reviews-btn Отправить
				.feedback-modal
					.feedback-modal__inner
						.feedback-modal__title Спасибо!
						.feedback-modal__text Ваш отзыв отправлен на модерацию
			ul.reviews-list
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar Л
						.reviews-item-title
							h4.reviews-item__name Лидия, 67 лет
						.reviews-item__rating
					.reviews-item__text Долгое время не обращала внимания на признаки гипертонии, а потом случился гипертонический криз: повысилось давление до 200/150, участился пульс, стали холодеть левая рука и нога, появилось чувство паники, тошнота. Поняла, что надо что-то делать. Не сразу, но нашла Gipertolife. Теперь мое давление не повышается выше нормы.
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 19
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar Д
						.reviews-item-title
							h4.reviews-item__name Дарья, 56 лет
						.reviews-item__rating
					.reviews-item__text От Gipertolife у меня не было побочных эффектов и это главное. Потому что раньше я принимала другие средства и от них у меня был: кашель, отечность ног, головокружение, сухость во рту, частое мочеиспускание, сонливость, понос, тревожные сны.
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 12
							.social__button
								span.dislike.social__img
								span.social__count 1
						.reviews-item__date.date-0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar Р
						.reviews-item-title
							h4.reviews-item__name Роман, 53 года
						.reviews-item__rating
					.reviews-item__text Мне нравится, что Gipertolife можно просто развести в воде, ничего не застревает в горле, как в случае с капсулами. Доставили посылку быстро.
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 44
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-1
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar Е
						.reviews-item-title
							h4.reviews-item__name Елена, 49 лет
						.reviews-item__rating(style={width: '95px'})
					.reviews-item__text У меня давление повысилось, когда много лишнего веса набрала. Как похудела и пропила курс Gipertolife — давление стало подниматься гораздо реже.
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 24
							.social__button
								span.dislike.social__img
								span.social__count 1
						.reviews-item__date.date-2
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar А
						.reviews-item-title
							h4.reviews-item__name Алина, 53 года
						.reviews-item__rating
					.reviews-item__text Gipertolife спас меня от скачущего давления и головной боли, улучшилось общее самочувствие. Именно такое средство я так долго искала! А если минимизировать сахар, соль и крахмал в рационе, то можно получить фантастические результаты.
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 46
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-3
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar В
						.reviews-item-title
							h4.reviews-item__name Василий, 66 лет
						.reviews-item__rating
						
					.reviews-item__text Долгое время не подозревал, что живу с гипертонией. Когда начала регулярно течь кровь из носа, заподозрил неладное. По рекомендации соседа начал принимать Gipertolife. Теперь сплю нормально, кровотечения из носа пропали, головных болей больше нет, да и в целом больше энергии появилось. 
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 39
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-3
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar В
						.reviews-item-title
							h4.reviews-item__name Галина, 59 лет
						.reviews-item__rating
						
					.reviews-item__text Товар был доставлен за 6 дней. Упакован хорошо. Взяла по скидке для пробы. Пахнет довольно приятно травками. Принимаю по инструкции. Побочек у меня нет. Давление в норме. ВСЕМ ЗДОРОВЬЯ!

					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 19
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-4
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar Н
						.reviews-item-title
							h4.reviews-item__name Нина, 56 лет
						.reviews-item__rating(style={width: '76px', "margin-right": '18px'})
					.reviews-item__text Природный состав — огромное преимущество Gipertolife. В составе нет синтетических веществ, поэтому от капель не формируется привыкание. Я покупкой довольна!

					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 15
							.social__button
								span.dislike.social__img
								span.social__count 4
						.reviews-item__date.date-5
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar А
						.reviews-item-title
							h4.reviews-item__name Анастасия, 68 лет

						.reviews-item__rating
					.reviews-item__text Гипертония проявилась жуткими болями в груди. Стало страшно, что однажды ночью я умру во сне и больше никогда не увижу, как растут мои внуки, никогда не смогу больше обнять детей, поцеловать мужа… Мои страхи ушли, когда начала принимать это средство.. Правда, по началу результат был минимальным. Очень важно пропить курсом.
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 46
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-5
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar М
						.reviews-item-title
							h4.reviews-item__name Михаил Щ.
						.reviews-item__rating
						
					.reviews-item__text Помогает.

					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 12
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-5
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar В
						.reviews-item-title
							h4.reviews-item__name Валерия В.
						.reviews-item__rating
						
					.reviews-item__text Спасает меня от гипертонии, когда погода меняется. Спасибо!

					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 6
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-11
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar Д
						.reviews-item-title
							h4.reviews-item__name Дарья Д.

						.reviews-item__rating
					.reviews-item__text Все хорошо, можно покупать, эффект есть.

					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 17
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-6
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar О
						.reviews-item-title
							h4.reviews-item__name Оксана Б.

						.reviews-item__rating(style={width: '76px', "margin-right": '18px'})
						
					.reviews-item__text У меня всегда давление на жару повышается, но после курса этого средство вроде нет. Но надо еще отказаться от алкоголя и жирной пищи.

					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 42
							.social__button
								span.dislike.social__img
								span.social__count 3
						.reviews-item__date.date-7
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar В
						.reviews-item-title
							h4.reviews-item__name Вера К.
						.reviews-item__rating
						
					.reviews-item__text Я довольна, что купила


					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 9
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-9
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar А
						.reviews-item-title
							h4.reviews-item__name Алла Т.

						.reviews-item__rating(style={width: '76px', "margin-right": '18px'})
						
					.reviews-item__text В принципе делает то, что должно, а именно давление опускает. Что еще сказать?


					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 25
							.social__button
								span.dislike.social__img
								span.social__count 8
						.reviews-item__date.date-9
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar Ю
						.reviews-item-title
							h4.reviews-item__name Юлия А
						.reviews-item__rating
						
					.reviews-item__text Довольна полностью, разве что сначала было непривычно, но потом понравился сам прием средства.

					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 29
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-9
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar Т
						.reviews-item-title 	
							h4.reviews-item__name Тамара Р.
				
						.reviews-item__rating(style={width: '90px'})
						
					.reviews-item__text Все хорошо, доставка быстрая, давление не беспокоит.


					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 18
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-10
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar И
						.reviews-item-title
							h4.reviews-item__name Иван П.
						.reviews-item__rating
						
					.reviews-item__text Принимайте по инструкции и не пропускайте дни, тогда эффект будет.

					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 28
							.social__button
								span.dislike.social__img
								span.social__count 2
						.reviews-item__date.date-11
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar А
						.reviews-item-title
							h4.reviews-item__name Александр Б.
						.reviews-item__rating
						
					.reviews-item__text Лучше, чем пить обезболивающие таблетки от головной боли.


					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 34
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-12
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar М
						.reviews-item-title
							h4.reviews-item__name Марина К.
						.reviews-item__rating
						
					.reviews-item__text Купила по совету знакомого терапевта, не жалею, давление стабильно нормальное.

					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 24
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-13
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar М
						.reviews-item-title
							h4.reviews-item__name Мария М.
						.reviews-item__rating(style={width: '94px'})
						
					.reviews-item__text Помог разобраться с давлением даже лучше чем я ожидала.


					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 29
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-14
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar А
						.reviews-item-title
							h4.reviews-item__name Анна П.
						.reviews-item__rating
						
					.reviews-item__text Помогает.
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 7
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-15
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar С
						.reviews-item-title
							h4.reviews-item__name София Д.
						.reviews-item__rating
						
					.reviews-item__text У меня на работе все подруги курс cardiosoft прошли, я тоже решилась. Заказала, скидку получила. Сейчас принимаю и давление пока не беспокоило ни разу.
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 41
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-16
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar И
						.reviews-item-title
							h4.reviews-item__name Иван В.
						.reviews-item__rating
						
					.reviews-item__text Купил из-за состава, всем доволен.
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 47
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-17
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar Л
						.reviews-item-title
							h4.reviews-item__name Любовь Б.
						.reviews-item__rating
					
					.reviews-item__text Быстрая доставка, вежливые менеджеры.
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 29
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-17
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar В
						.reviews-item-title
							h4.reviews-item__name Владимир К.
						.reviews-item__rating
						
					.reviews-item__text Эффект хороший, я уже на третьей неделе.

					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 24
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-19
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar Д
						.reviews-item-title
							h4.reviews-item__name Дмитрий Л.
						.reviews-item__rating
					.reviews-item__text Вроде помогает.
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 21
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-19
						
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar Т
						.reviews-item-title
							h4.reviews-item__name Тамара Е.
						.reviews-item__rating
				
					.reviews-item__text Снижает давление хорошо.
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 34
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-20
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar А
						.reviews-item-title
							h4.reviews-item__name Анна В.
						.reviews-item__rating(style={width: '88px'})
						
					.reviews-item__text Теперь всегда будет в моей аптечке дома, так как помогает избежать скачков давления.
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 31
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-20
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar И
						.reviews-item-title
							h4.reviews-item__name Инна Л.
						.reviews-item__rating(style={width: '80px'})
					
					.reviews-item__text Легко пьется, быстро помогает, побочных эффектов я не заметила.
					
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 28
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-21




