section.use.block
	.container
		h2.title.use__title Как принимать 
			span.accent Gipertolife
		.use__content
			.use__pack
				picture
					source(type="image/webp" srcset="img/prod.webp")
					img(src="img/prod.png" alt="product")
			ul.use__list
				li.use__item
					span.use-item__icon
						img(src="img/use-1.png", alt="use")
					p.use-item__text 10 капель растворить в 20 мл теплой воды
				li.use__item
					span.use-item__icon
						img(src="img/use-2.png", alt="use")
					p.use-item__text Принимать за 30 мин до еды 3 раза в день
				li.use__item
					span.use-item__icon
						img(src="img/use-3.png", alt="use")
					p.use-item__text Курс приема от 4 недель